page-products {
     .ion-item-custom {
      border-radius: 30px !important;
      padding-left: 30px !important;
      margin-bottom: 10px;
      border: 1px solid #AABCCC;
      border-bottom: 0px !important;
      box-shadow: none !important;
      background: #344A49;
      color:#FFFFFF;
    }
    .ion-product-custom {
      border-radius: 10px !important;
      padding-left: 30px !important;
      margin-bottom: 10px;
      border: 2px solid #344A49;
      border-bottom: 0px !important;
      box-shadow: none !important;
      background: #DDDDDD;
    }
}
